canvas {
    display: block;
    margin: auto;
    border: 1px solid black;
}

.button {
    width: 120px;
    height: 50px;
    display: block;
    margin: auto;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}

#score {
    width: 100px;
    margin-left: calc(50% - 50px);
    align-content: center;
    text-align: center;
}